* {
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    min-width: 320px;
    height: auto;
  }

  .header_wrapper {
    width: 100%;
    background: #d7d7d7;
  }

  .header {
    margin: 0 auto;
    max-width: 991px;
  }

  .title {
    height: 46px;
    padding-top: 40px;
  }

  .title h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 500;
  }

  .divider {
    margin: 0 auto 30px;
    height: 3px;
    width: 74px;
    background: url('../img/divider_blue.png');
  }

  .divider--mobile {
    margin: 0 auto;
    height: 3px;
    width: 74px;
    background: url('../img/divider_blue.png');
  }

  .divider_clients {
    margin: 0 auto 70px;
  }

  .divider_prices {
    margin: 0 auto 50px;
  }

  .row1,
  .row2 {
    width: 100%;
    height: 160px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    text-align: center;
  }

  .none_mobile {
    display: none;
  }

  .header__container {
    display:block;
    min-width: 320px;
  }

  .menu__list {
    list-style-type:none;
  }

  .menu__item__home {
    position:relative;
    z-index:1;
    display:block;
    float:none;
    margin: 0 auto;
    text-align: center;
    background: rgba(43, 86, 154, .9);
    width: 300px;
    height: 48px;
  }

  .menu__item__home:hover {
    background: rgba(43, 86, 154, .9);
    width: 300px;
    height: 48px;
  }

  .menu__link__home {
    height: 51px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 500;
    padding: 0 4px;
    margin: 0px auto;
    line-height: 51px;
    text-decoration: none;
  }

  .menu__link__home:hover,
  .menu__link__home:active {
    color: white;
  }

  .menu__link__home--submenu {
    display:none;
    width: 298px;
    margin: 0 auto;
    color: white;
    position:relative;
    top: -6px;
    float:none;
    border: 1px solid #000;
    background: rgba(43, 86, 154, .9);
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: -0.5px;
  }

  .menu__item {
    height: 40px;
    width: 298px;
    display: block;
    float: none;
    line-height: 40px;
    border-top: 1px solid #60496b;
    border-bottom: 1px solid #36283e;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

  .menu__item:hover {
    background: transparent;
    border-bottom: 2px solid white;
  }

  .menu__list li:hover .menu__link__home--submenu {
    display:block;
  }

  .menu__link {
    color: #f9f9f9;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
  }

  .row2 {
    height: 500px;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    float: left;
    margin: 10px auto;
  }

  .rightcolumn_header {
    margin: 38px auto;
    height: 20px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 16px;
  }

  .buttons {
    padding-top: 38px;
    margin: 0 auto;
    width: 320px;
  }

  .btn-consult {
    width: 300px;
    height: 49px;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid #2b569a;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 15px;
    font-weight: bold;
  }

  .btn-order {
    margin-top: 8px;
    width: 300px;
    height: 50px;
    background: #ff9900;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }

  .btn-order:hover {
    background: #df8800;
  }

  .btn-consult:hover {
    background: #d3cccc;
  }

  button,
  button:active,
  button:focus,
  button:hover {
    outline: none;
    cursor: pointer;
  }


  .prices h3 {
    color: #fff;
  }

  .map {
    height: 230px;
    width: auto;
    background: url('../img/map.png') no-repeat center center;
  }

  .clients {
    height: 304px;
    margin: 0 auto;
    min-width: 320px;
  }

  .clients img {
    height: 45px;
    width: 265px;
  }

  .clients_wrapper {
    width: 100%;
    background: #fff;
  }

  .prices {
    height: auto;
    background: #2b569a;
  }

  .all_prices {
    height: 48px;
    width: 300px;
    display: block;
    margin: 20px auto 0;
    border: 2px solid #ffd800;
    color: #ffd800;
    box-sizing: border-box;
    background: transparent;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 16px;
  }

  .after_buttons {
    height: 30px;
    width: 100%;
  }

  .all_prices:hover {
    background: #2b5392;
  }

  .button_prices {
    align-items: center;
  }

  .footer_wrapper {
    background: #dcdcdc;
    width: 100%;
  }

  .footer {
    height: 1530px;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
  }

  .footer_text {
    height: 420px;
  }

  .face {
    width: 40%;
    height: 56px;
    display: block;
    float: left;
  }

  .face img {
    margin-left: 50%;
  }

  .name {
    text-align: left;
    padding-top: 10px;
    height: 56px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
  }

  .leftcolumn h3,
  .rightcolumn h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .leftcolumn p,
  .rightcolumn p {
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 14px;
    padding: 6px 14px;
    text-align: justify;
    letter-spacing: -0.5px;
  }

  .leftcolumn span,
  .rightcolumn span {
    display: block;
    text-align: center;
  }

  .all {
    display: block;
    margin: 0 auto;
    width: 160px;
  }

  .contacts {
    margin: 36px auto 0;
    height: 700px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .call,
  .come,
  .online {
    height: 216px;
    background: #fff;
    width: 230px;
    margin: 10px auto;
    float: left;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .btn-order--mobile {
    font-size: 18px;
  }

  .come span {
    font-weight: bold;
  }

  .come img {
    width: 17px;
    height: 24px;
  }

  .contacts img {
    margin: 20px auto 14px;
  }

  .contacts h4 {
    margin-bottom: 32px;
  }

  .contacts p {
    font-size: 18px;
  }

  .online {
    background: #898989;
  }

  .online h4{
    color: white;
  }

  .online img {
    height: 23px;
    width: 23px;
  }

  .online button {
    margin-top: 8px;
    width: 160px;
    outline: none;
    border: none;
  }

  .call img {
    width: 24px;
    height: 24px;
  }

  .info {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  body {
    min-width: 768px;
    height: 2900px;
  }

  .header_wrapper {
    width: 100%;
    background: #d7d7d7;
  }

  .header {
    margin: 0 auto;
    max-width: 991px;
  }

  .title {
    height: 46px;
    padding-top: 40px;
  }

  .title h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 26px;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 500;
  }

  .divider {
    margin: 0 auto 30px;
    height: 3px;
    width: 74px;
    background: url('../img/divider_blue.png');
  }

  .divider_clients {
    margin: 0 auto 70px;
  }

  .divider_prices {
      margin: 0 auto 50px;
  }

  .menu_mobile {
    display: none;
  }

  .row1,
  .row2 {
    width: 100%;
    height: 160px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    text-align: center;
  }

  .row2 {
    height: 320px;
  }

  .leftcolumn,
  .rightcolumn {
    width: 50%;
    float: left;
  }

  .services {
    height: 544px;
    min-width: 768px;
  }

  .services_item {
    float: left;
    margin: 1.45%;
    height: 147px;
  }

  .services_link {
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    margin-top: 45px;
    font-family: Segoe UI, Tahoma, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
  }

  .item3 a,
  .item6 a{
    line-height: 50px;
  }

  .item1 {
    background: url('../img/service1.png') no-repeat center center;
    width: 64%;
  }

  .item2 {
    background: url('../img/service2.png') no-repeat center center;
    width: 30%;
  }
  .item3 {
    background: url('../img/service3.png') no-repeat center center;
    width: 47%;
  }
  .item4 {
    background: url('../img/service4.png') no-repeat center center;
    width: 47%;
  }

  .item5 {
    background: url('../img/service5.png') no-repeat center center;
    width: 30%;
  }
  .item6 {
    background: url('../img/service6.png') no-repeat center center;
    width: 64%;
  }
  .item7 {
    background: url('../img/service7.png') no-repeat center center;
    width: 30%;
  }
  .item8 {
    background: url('../img/service8.png') no-repeat center center;
    width: 30.6%;
  }
  .item9 {
    background: url('../img/service9.png') no-repeat center center;
    width: 30.6%;
  }

  .rightcolumn_header {
    margin-top: 10px;
    height: 20px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
  }

  .buttons {
    padding-top: 5px;
  }

  .btn-consult {
    width: 62%;
    height: 49px;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid #2b569a;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 15px;
    font-weight: bold;
  }

  .btn-order {
    width: 32%;
    height: 50px;
    background: #ff9900;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }

  .btn-order:hover {
    background: #df8800;
  }

  .btn-consult:hover {
    background: #d3cccc;
  }

  button,
  button:active,
  button:focus,
  button:hover {
    outline: none;
    cursor: pointer;
  }


  .prices h3 {
    color: #fff;
  }

  .map {
    height: 230px;
    background: url('../img/map.png') no-repeat center center;
  }

  .clients {
    height: 304px;
    margin: 0 auto;
    min-width: 768px;
  }

  .clients_wrapper {
    width: 100%;
    background: #fff;
  }

  .clients img {
    height: 45px;
    width: 265px;
  }

  .prices {
    height: 600px;
    background: #2b569a;
  }

  .all_prices {
    height: 48px;
    width: 220px;
    display: block;
    margin: 20px auto 0;
    border: 2px solid #ffd800;
    color: #ffd800;
    box-sizing: border-box;
    background: transparent;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 16px;
  }

  .all_prices:hover {
    background: #2b5392;
  }

  .button_prices {
    align-items: center;
  }

  .footer_wrapper {
    background: #dcdcdc;
    width: 100%;
   }

  .footer {
    height: 1326px;
    min-width: 768px;
    margin: 0 auto;
  }

  .footer_text {
    height: 280px;
  }

  .face {
    width: 40%;
    height: 56px;
    display: block;
    float: left;
  }

  .face img {
    margin-left: 60%;
  }

  .name {
    text-align: left;
    padding-top: 10px;
    height: 56px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
  }

  .leftcolumn h3,
  .rightcolumn h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .leftcolumn p,
  .rightcolumn p {
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 16px;
    padding: 6px 14px;
    text-align: justify;
    letter-spacing: -0.5px;
  }

  .leftcolumn span,
  .rightcolumn span {
    display: block;
    text-align: center;
  }

  .all {
    display: block;
    margin: 0 auto;
    width: 160px;
  }

  .contacts {
    margin: 66px auto 0;
    height: 216px;
  }

  .call,
  .come,
  .online {
    height: 216px;
    background: #fff;
    width: 30.4%;
    margin: 0 1.45%;
    float: left;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .come span {
    font-weight: bold;
  }

  .come img {
    width: 17px;
    height: 24px;
  }

  .contacts img {
    margin: 25px auto 14px;
  }

  .contacts h4 {
    margin-bottom: 32px;
  }

  .online {
    background: #898989;
  }

  .online h4{
    color: white;
  }

  .online img {
    height: 23px;
    width: 23px;
  }

  .call img {
    width: 24px;
    height: 24px;
  }

  .online button {
    margin-top: 8px;
    width: 160px;
    outline: none;
    border: none;
  }

  .info {
    height: 356px;
    margin: 56px auto;
    padding: 0 10px;
  }

  .info h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .info p {
    margin-top: 32px;
    text-align: justify;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: -0.3px;
  }

  .buttons {
    width: 380px;
    margin: 0 auto;
  }

  #container--992px {
    display: none;
  }

  .container_mobile {
    display: none;
  }
}

@media (min-width: 992px) {

  body {
    max-width: 1400px;
    height: 2900px;
  }

  .header_wrapper {
    width: 100%;
    background: #d7d7d7;
  }

  .header {
    margin: 0 auto;
    max-width: 960px;
  }

  .title {
    height: 46px;
    padding-top: 40px;
  }

  .title h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 30px;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 500;
  }

  .divider {
    margin: 0 auto 30px;
    height: 3px;
    width: 74px;
    background: url('../img/divider_blue.png');
  }

  .divider_clients {
    margin: 0 auto 70px;
  }

  .divider_prices {
      margin: 0 auto 50px;
  }

  .menu_mobile {
      display: none;
  }

  .row1,
  .row2 {
    width: 100%;
    height: 160px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
    text-align: center;
  }

  .row2 {
    height: 320px;
  }

  .leftcolumn,
  .rightcolumn {
    width: 50%;
    float: left;
  }

  .services {
    height: 544px;
    max-width: 960px;
  }

  .services_item {
    float: left;
    margin: 1.45%;
    height: 147px;
  }

  .services_link {
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    margin-top: 45px;
    font-family: Segoe UI, Tahoma, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
  }

  .services_link-768px {
    display: none;
  }

  .item3 a,
  .item6 a{
    line-height: 50px;
  }

  .item1 {
    background: url('../img/service1.png') no-repeat center center;
    width: 64%;

  }
  .item2 {
    background: url('../img/service2.png') no-repeat center center;
    width: 30%;
  }
  .item3 {
    background: url('../img/service3.png') no-repeat center center;
    width: 47%;
  }
  .item4 {
    width: 47%;
  }

  .item5 {
    background: url('../img/service5.png') no-repeat center center;
    width: 30%;
  }
  .item6 {
    background: url('../img/service6.png') no-repeat center center;
    width: 64%;
  }
  .item7 {
    background: url('../img/service7.png') no-repeat center center;
    width: 30%;
  }
  .item8 {
    background: url('../img/service8.png') no-repeat center center;
    width: 30.6%;
  }
  .item9 {
    background: url('../img/service9.png') no-repeat center center;
    width: 30.6%;
  }

  .rightcolumn_header {
    margin-top: 10px;
    height: 20px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
  }

  .buttons {
    padding-top: 5px;
  }

  .btn-consult {
    width: 62%;
    height: 49px;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid #2b569a;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
    font-weight: bold;
  }

  .btn-order {
    width: 32%;
    height: 50px;
    background: #ff9900;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border: none;
  }

  .btn-order:hover {
    background: #df8800;
  }

  .btn-consult:hover {
    background: #d3cccc;
  }

  button,
  button:active,
  button:focus,
  button:hover {
    outline: none;
    cursor: pointer;
  }


  .prices h3 {
    color: #fff;
  }

  .map {
    height: 230px;
    background: url('../img/map.png') no-repeat center center;
  }

  .clients {
    height: 304px;
    margin: 0 auto;
    max-width: 960px;
  }

  .clients_wrapper {
    width: 100%;
    background: #fff;
  }

  .clients img {
    height: 45px;
    width: 265px;
  }

  .prices {
    height: 600px;
    background: #2b569a;
  }

  .all_prices {
    height: 48px;
    width: 275px;
    display: block;
    margin: 20px auto 0;
    border: 2px solid #ffd800;
    color: #ffd800;
    box-sizing: border-box;
    background: transparent;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 18px;
  }

  .all_prices:hover {
    background: #2b5392;
  }

  .button_prices {
    align-items: center;
  }

  .footer_wrapper {
    background: #dcdcdc;
    width: 100%;
   }

  .footer {
    height: 1326px;
    max-width: 960px;
    margin: 0 auto;
  }

  .footer_text {
    height: 280px;
  }

  .face {
    width: 40%;
    height: 56px;
    display: block;
    float: left;
  }

  .face img {
    margin-left: 130px;
  }

  .name {
    text-align: left;
    padding-top: 10px;
    height: 56px;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
  }

  .leftcolumn h3,
  .rightcolumn h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  .leftcolumn p,
  .rightcolumn p {
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 18px;
    padding: 6px 14px;
    text-align: justify;
    letter-spacing: -0.5px;
  }

  .leftcolumn span,
  .rightcolumn span {
    display: block;
    text-align: center;
  }

  .all {
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  .contacts {
    margin: 66px auto 0;
    height: 216px;
  }

  .call,
  .come,
  .online {
    height: 216px;
    background: #fff;
    width: 30.4%;
    margin: 0 1.45%;
    float: left;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Segoe UI, Tahoma, sans-serif;
    color: #2b569a;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .come span {
    font-weight: bold;
  }

  .come img {
    width: 17px;
    height: 24px;
  }

  .contacts img {
    margin: 25px auto 14px;
  }

  .contacts h4 {
    margin-bottom: 32px;
  }

  .online {
    background: #898989;
  }

  .online img {
    height: 23px;
    width: 23px;
  }

  .call img {
    width: 24px;
    height: 24px;
  }

  .online h4{
    color: white;
  }

  .online button {
    margin-top: 8px;
    width: 200px;
    outline: none;
    border: none;
  }

  .info {
    height: 356px;
    margin: 56px auto;
  }

  .info h3 {
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .info p {
    margin-top: 32px;
    text-align: justify;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: -0.3px;
  }

  .buttons {
    width: 480px;
    margin: 0 auto;
  }

  #container {
  	width:227px;
  	position:relative;
  	z-index:0;
  }

  #slides {
  	position:absolute;
  	z-index:10;
  }

  #slides .next,#slides .prev {
  	position:absolute;
  	top:107px;
  	left:-39px;
  	width:24px;
  	height:43px;
  	display:block;
  	z-index:11;
  }

  .slides_container {
  	width:227px;
  	height:147px;
  	overflow:hidden;
  	position:relative;
  }

  .slides_link {
    position: absolute;
    top:1px;
    left: 10px;
    z-index: 1;
  }

  .pagination {
  	width:100px;
    position: absolute;
    top: 125px;
    left: 74px;
    z-index: 12;
  }

  .pagination li {
  	float:left;
  	margin:0 1px;
  }

  .pagination li a {
  	display:block;
  	width:12px;
  	height:0;
  	padding-top:12px;
  	background-image:url(../img/pagination.png);
  	background-position:0 0;
  	float:left;
  	overflow:hidden;
  }

  .pagination li.current a {
  	background-position:0 -12px;
  }

  .container_mobile {
    display: none;
  }

}
